@import url('../../assets/css/style.css');

.container {
    display: grid;
    grid-template-columns: 1fr 0fr;
    transition: grid-template-columns 0.3s ease;
    align-items: start;
}

.container.details-visible {
    grid-template-columns: 2fr 1fr;
}

#resultsSection {
    padding: 20px;
}

#detailsPanel {
    margin-top: 113px;
    overflow: hidden;
    padding: 20px;
    border-left: 1px solid #ccc;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container.details-visible #detailsPanel {
    opacity: 1;
}

@media (max-width: 768px) {

    .container,
    .container.details-visible {
        display: block;
    }

    #detailsPanel {
        display: none;
        border-left: none;
        border-top: 1px solid #ccc;
    }

    .container.details-visible #detailsPanel {
        display: block;
        opacity: 1;
    }
}

/* Largeurs fixes pour les colonnes sélectionnées */
#resultsTable th:nth-child(1),
#resultsTable td:nth-child(1) {
    width: 60px !important;
    /* Code CIS */
}

#resultsTable th:nth-child(2),
#resultsTable td:nth-child(2) {
    width: 290px !important;
    /* Dénomination */
}

#resultsTable th:nth-child(3),
#resultsTable td:nth-child(3) {
    width: 180px !important;
    /* Titulaire */
}

#resultsTable th:nth-child(4),
#resultsTable td:nth-child(4) {
    width: 100px !important;
    /* Voie d'administration */
}

#resultsTable th:nth-child(5),
#resultsTable td:nth-child(5) {
    width: 230px !important;
    /* Substances actives */
}

#resultsTable th:nth-child(6),
#resultsTable td:nth-child(6) {
    width: 50px !important;
    /* Prix */
}

/* Masquer Substance Active sous 1100px */
@media (max-width: 1000px) {

    #resultsTable th:nth-child(5),
    #resultsTable td:nth-child(5) {
        display: none;
    }
}

/* Masquer Voie d'administration sous 950px */
@media (max-width: 900px) {

    #resultsTable th:nth-child(4),
    #resultsTable td:nth-child(4) {
        display: none;
    }
}

/* Masquer Titulaire sous 800px */
@media (max-width: 750px) {

    #resultsTable th:nth-child(3),
    #resultsTable td:nth-child(3) {
        display: none;
    }
}

/* Masquer Prix sous 700px */
@media (max-width: 650px) {

    #resultsTable th:nth-child(6),
    #resultsTable td:nth-child(6) {
        display: none;
    }
}

.margin-bottom {
    margin-bottom: 20px;
}